/build/
/artifacts/
/geome
/geome-*.tar.gz
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/geome/
/debian/geome-dbgsym/
/debian/tmp/
/debian/*.substvars
/debian/*.debhelper*
*.deb
*.ddeb
*.buildinfo
*.changes
*.build
*.log
